.listado{
    text-align: center;
    
}
.list-group-item:hover{
        
    background-color: #007BFF;

}
.dropdown-menu{
    position: abolute;
    top:100px;
}

li img{
    max-height: 50px;
    max-width: 50px;
}

div.row{
    top:20px;
}