div.btn-crear{
    float: right;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
}
div.btn-crear a{
    padding: 1em;
} 

img{
    max-width: 150px;
    max-height: 150px;
}
table{
    text-align: center;
}

img{
    max-height: 70px;
}
div.buscador{
    display: inline;
}

input.ng-untouched.ng-pristine.ng-valid{
    height: 45px;
    width: 200px;
    margin-right: 15px;
}

input.ng-valid.ng-dirty.ng-touched{
  height: 45px;
  width: 200px;
  margin-right: 15px;
}

input.ng-untouched.ng-valid.ng-dirty{
  height: 45px;
  width: 200px;
  margin-right: 15px;
}

div.row{
    display: inline;
    position: relative;
    top: 34px;
    left: 16px;
}