nav.navbar.navbar-dark.bg-dark.navbar-expand-lg{
    position: relative;
    
}

a.btn.btn-primary.my-2.my-sm-0{
    position: absolute;
    right: 200px;
    top: 20px;
    
}
button.btn.btn-danger.my-2.my-sm-0{
    position: absolute;
    right: 50px;
    top: 20px;
}